{% extends 'base.html' %} 
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1>All Packages</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Package Name</th>
                        <th>Package Price</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    {% for package in packages %}
                    <tr>
                        <td>{{ package.package_name }}</td>
                        <td>${{ package.package_price }}</td>
                        <td>
                            <a href="{% url 'edit-package' package.id %}" class="btn btn-primary">Edit</a>
                            <a href="{% url 'delete-package' package.id %}" class="btn btn-danger">Delete</a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}
