{% extends 'base.html' %}

{% block content %}
<div class="container">
    <h2 style="color: orange; text-align: center; margin-top: 40px;">Frequently Asked Questions (FAQs)</h2>


<div class="faq-grid">
  
  <div>
    <p>
  <button class="btn btn-outline-warning" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
    General
  </button>
</p>

<div class="collapse show" id="collapseExample">
 <details><summary>What is Intel Invest</summary>
We present a modern high-tech business, which is associated primarily with cryptocurrency and highly productive activity on the multicurrency Forex market and cryptocurrency. Our professional team of traders and market analysts is ready to offer the best terms for your daily earnings with reasonable requirements of your investment.
</div>

<div class="collapse show" id="collapseExample">
  <details><summary>Is binaryaccounting.ltd an officially registered company?</summary>
Yes, of course. Company registration can be checked via the Companies House system using company name or its number 11947018. Short link to company profile: https://beta.companieshouse.gov.uk/company/11947018.
</div>

<div class="collapse show" id="collapseExample">
  <details><summary>Is my participation safe in your financial project?</summary>
Yes, binaryaccounting.ltd offers safe cooperation with zero risk.
</div>

<div class="collapse show" id="collapseExample">
  <details><summary>Do you have a physical office that I can visit?</summary>
Sure. binaryaccounting.ltd has headquarter in the United Kingdom at 3 More London Place, London SE1 2RE, United Kingdom. You can visit us during business hours, Monday through Friday.
</div>

<div class="collapse show" id="collapseExample">
  <details><summary>Do you have a physical office that I can visit?</summary>
Sure. binaryaccounting.ltd has headquarter in the United Kingdom at 3 More London Place, London SE1 2RE, United Kingdom. You can visit us during business hours, Monday through Friday.
</div>

<div class="collapse show" id="collapseExample">
  <details><summary>Do you have a physical office that I can visit?</summary>
Sure. binaryaccounting.ltd has headquarter in the United Kingdom at 3 More London Place, London SE1 2RE, United Kingdom. You can visit us during business hours, Monday through Friday.
</div>

<div class="collapse show" id="collapseExample">
  <details><summary>Who can become an investor of the company and how?</summary>
Citizen of any country who has reached the age of majority can become an active investor of binaryaccounting.ltd, make deposits and withdraw profits.
</div>

<div class="collapse show" id="collapseExample">
  <details><summary>Can I register more than one account?</summary>
No, multiple registration of prohibited and leads to the suspension of all accounts to ascertain the circumstances.
</div>

<div class="collapse show" id="collapseExample">
  <details><summary>Can my family members use my computer to register account?</summary>
Yes, your computer can be used to register your family members.
</div>


<div class="collapse show" id="collapseExample">
  <details><summary>Should I pass through some identification procedure?</summary>
According to binaryaccounting.ltd privacy policy, you are not required to go through the identification of your personality or provide any ID.
</div>

<div class="collapse show" id="collapseExample">
  <details><summary>I can’t log into my account! What should I do?</summary>
Technical support of binaryaccounting.ltd recommends you to start with the checking of your login data. If the problem persists, use the password reset function.
</div>

<div class="collapse show" id="collapseExample">
  <details><summary>Is it possible to delete my account?</summary>
binaryaccounting.ltd does not envisage the function of cancellation your account - it will be automatically deleted after 6 months of inactivity.
</div>

<div class="collapse show" id="collapseExample">
  <details><summary>Can I change my email or username?</summary>
After registration, you can’t change your account information except the password and payment details.
</div>
</div>



<div>
  <p>
  <button class="btn btn-outline-warning" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
    Deposits
  </button>
</p>

<div class="collapse show" id="collapseExample">
 <details><summary>What investment plans does the company offer?</summary>
Please familiarize yourself with the detailed investment proposal on the home page of our website, as well as on the page for creating a deposit in your personal account.
</div>


<div class="collapse show" id="collapseExample">
  <details><summary>How can I make a deposit in the project?</summary>
You can make a deposit using popular payment systems such as Perfect Money, Payeer and cryptocurrency (we try to constantly expand the list of accepted cryptocurrencies).
</div>

<div class="collapse show" id="collapseExample">
  <details><summary>What are the minimum and maximum amounts I can invest here?</summary>
Feel free to invest any amount in the range from $25 to $200,000.
</div>

<div class="collapse show" id="collapseExample">
  <details><summary>I made a deposit. When will I see my first profit?</summary>
Depending on chosen investment plan, you will receive your profit next day or at the end of investment period.
</div>

<div class="collapse show" id="collapseExample">
  <details><summary>Do you offer compounding option?</summary>
No, you can’t reinvest your profits in automatic mode.
</div>

<div class="collapse show" id="collapseExample">
  <details><summary>How to increase my deposit?</summary>
You can only do this by making multiple deposits using one account.
</div>

<div class="collapse show" id="collapseExample">
  <details><summary>How quickly will my deposit be credited?</summary>
Your deposit will be added instantly except cryptocurrency payments, which take up to 90 minutes (at least 2 confirmations of network).
</div>

<div class="collapse show" id="collapseExample">
  <details><summary>Can I make deposit using one payment system but withdraw through another one?</summary>
No. You can withdraw only through the same payment system, which has served as the source for the deposit.
</div>
</div>



  <div> 
    <p>
  <button class="btn btn-outline-warning" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
    Withdrawal
  </button>
</p>

<div class="collapse" id="collapseExample">
 <details><summary>What investment plans does the company offer?</summary>
Please familiarize yourself with the detailed investment proposal on the home page of our website, as well as on the page for creating a deposit in your personal account.
</div>


<div class="collapse" id="collapseExample">
  <details><summary>How can I make a deposit in the project?</summary>
You can make a deposit using popular payment systems such as Perfect Money, Payeer and cryptocurrency (we try to constantly expand the list of accepted cryptocurrencies).
</div>

<div class="collapse" id="collapseExample">
  <details><summary>What are the minimum and maximum amounts I can invest here?</summary>
Feel free to invest any amount in the range from $25 to $200,000.
</div>

<div class="collapse" id="collapseExample">
  <details><summary>I made a deposit. When will I see my first profit?</summary>
Depending on chosen investment plan, you will receive your profit next day or at the end of investment period.
</div>

<div class="collapse" id="collapseExample">
  <details><summary>Do you offer compounding option?</summary>
No, you can’t reinvest your profits in automatic mode.
</div>

<div class="collapse" id="collapseExample">
  <details><summary>How to increase my deposit?</summary>
You can only do this by making multiple deposits using one account.
</div>

<div class="collapse" id="collapseExample">
  <details><summary>How quickly will my deposit be credited?</summary>
Your deposit will be added instantly except cryptocurrency payments, which take up to 90 minutes (at least 2 confirmations of network).
</div>

<div class="collapse" id="collapseExample">
  <details><summary>Can I make deposit using one payment system but withdraw through another one?</summary>
No. You can withdraw only through the same payment system, which has served as the source for the deposit.
</div>
  </div>


  <div> 
    <p>
  <button class="btn btn-outline-warning" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
    Referral
  </button>
</p>

<div class="collapse" id="collapseExample">
 <details><summary>Is there affiliate program?</summary>
Yes, binaryaccounting.ltd pays for attracting new investors – 7% from each deposit of your referrals.
</div>


<div class="collapse" id="collapseExample">
  <details><summary>How can I become a participant of affiliate program?</summary>
Each registered user has unique referral link in his personal account. Regardless of whether you have an active deposit or not, the referral commission will be accrued.
</div>
  </div>


</div>





</div>
{% include 'footer.html' %}
{% endblock %}
