<footer>
  <div class="footer-grid">
    <div>
      <h1 style="text-align: center; color: orange">Intel Invest</h1>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure, quasi. Necessitatibus recusandae non perferendis
        nisi corrupti labore minima assumenda unde at facilis quaerat, distinctio adipisci incidunt nam. Inventore,
        labore alias.
      </p>
    </div>

    <div>
      <h2 style="color: orange">Docs</h2>
      <ul>
        <li><a href="{% url 'faqs-page' %}">FAQ</a></li>
        <li><a href="{% url 'about-us' %}">About Us</a></li>
        <li><a href="{% url 'rules' %}">Rules</a></li>
      </ul>
    </div>

    <div>
      <h2 style="color: orange">Contact Us</h2>
      <li><span style="font-size: 20px; padding-right: 10px" class="material-icons"> call </span>+1 657 2454 4374</li>
      <li>
        <span style="font-size: 20px; padding-right: 10px" class="material-icons"> email </span
        >intelinvestcontact@gmail.com
      </li>
      <li>
        <span style="font-size: 20px; padding-right: 10px" class="material-icons"> place </span>333, Fremont Street,
        Suite #100, San Francisco, CA 94105, USA
      </li>
    </div>
  </div>

  <div style="text-align: center; margin-bottom: 0 !important; margin-top: 40px">
    IntelInvest &copy; 2021 | All rights reserved.
  </div>
</footer>