{% extends 'base.html' %} {% load static %} {% block content %}

<div class="intro container" style="padding-right: 50%">
  <h2 style="font-weight: 600; color: white; font-size: 60px">Intel Invest</h2>
  <div class="moving-bar"></div>
  <p style="color: orange; font-size: 25px">Your guaranteed investment platform!</p>
  <p style="color: orange; font-size: 17px">
    Have a safe and profitable investment on a modern crypto-currency market with <b>Intel Invest</b>!
  </p>
</div>

<div class="container">
  <div class="about" style="color: white">
    <h2 style="color: orange; text-align: center; width: 200px; margin: 0 auto">About Intel Invest</h2>
    Hello, welcome Intel Invest a young and very promising crypto-currency investment platform for both investors and
    people from all part of the world!.the emergence of cryptocurrency as a new tool - all this left its mark. From the
    moment when we have decided to develop direction of trust management binaryaccounting.ltd has entered a new stage.
    We are always grateful to all our customers for the trust you have given us when you have opened an account on
  </div>
</div>

<div class="container">
  <div class="features" style="text-align: center">
    <h2 style="color: orange; text-align: center; margin: 0 auto">Features</h2>
    <p style="color: white; font-size: 19px">
      We are happy to provide the best investment service in the field of cryptocurrency trading, Forex and private
      exchange with the maximum professionalism!
    </p>
  </div>
</div>
<div class="cards">
  <div class="a-card">
    <p>ON</p>
    <p>DDOS PROTECTION</p>
  </div>

  <div class="a-card">
    <p>256-BIT</p>
    <p>SECURITY ENCRYPTION</p>
  </div>

  <div class="a-card">
    <p>GUARANTEED</p>
    <p>PROFIT</p>
  </div>

  <div class="a-card">
    <p>24/7</p>
    <p>SUPPORT</p>
  </div>
</div>

<div style="text-align: center;" class="with-intel container">
  <h2 style="color:orange">With Intel Invest</h2>
  <div class="with-intel-grid">
    <div>
      <h4>Get income from a real business!</h4>
      <p>
        Our team is real and ready to offer safe and mutually beneficial cooperation to anyone who has set himself the
        goal of making money.
      </p>
    </div>

    <div>
      <h4>Diversify financial risks with us!</h4>
      <p>
        Due to the step-by-step strategy of work in the market, as well as in-depth analysis of financial trends, our
        company occupies a leading position
      </p>
    </div>

    <div>
      <h4>Secure transactions</h4>
      <p>
        The team pays maximum attention to the safety of investor funds and carefully checks all withdrawal
        transactions, processing them in manual mode.
      </p>
    </div>
    <a href="#">Invest Now</a>
  </div>
</div>

{% endblock %}
