{% extends 'base.html' %} {% block content %}

<div class="intro" style="margin-top: 50px; padding-right: 50%;">
  <h2 style="font-weight: 600; color: orange; font-size: 60px;">Intel Invest</h2>
  <div class="moving-bar"></div>
  <p style="color: orange; font-size: 25px;">Your guaranteed investment platform!</p>
  <p style="color: orange;">
    Have a safe and profitable investment on a modern crypto-currency market with <b>Intel Invest</b>!
  </p>
</div>


<div>
    <div id="carouselExampleInterval" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active" data-bs-interval="10000">
      <img src="..." class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item" data-bs-interval="2000">
      <img src="..." class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="..." class="d-block w-100" alt="...">
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
</div>

{% endblock %}
