{% extends 'base.html' %} {% load static %} {% block content %}
<div class="home-background">
  <div class="intro">
    <div class="moving-bar"></div>
    <p style="color: orange; font-size: 25px">Your guaranteed investment platform!</p>
    <p style="color: orange; font-size: 17px">
      Have a safe and profitable investment on a modern crypto-currency market with <b>Intel Invest</b>!
    </p>
  </div>

  <div class="about" style="color: white">
    <h2 style="color: orange; text-align: center; margin: 0 auto">About Intel Invest</h2>
    Hello, welcome Intel Invest a young and very promising crypto-currency investment platform for both investors and
    people from all part of the world!.the emergence of cryptocurrency as a new tool - all this left its mark. From the
    moment when we have decided to develop direction of trust management Intel Invest has entered a new stage.
  </div>
</div>

<div class="features">
  <div class="container">
    <div style="text-align: center">
      <h2 style="color: orange; text-align: center">Features</h2>
      <p style="color: #333; font-size: 19px">
        We are happy to provide the best investment service in the field of cryptocurrency trading, Forex and private
        exchange with the maximum professionalism!
      </p>
    </div>
  </div>
  <div class="cards">
    <div class="a-card">
      <p>ON</p>
      <p>DDOS PROTECTION</p>
      <img src="../static/images/protection.png" alt="" />
    </div>

    <div class="a-card">
      <p>GUARANTEED</p>
      <p>PROFIT</p>
      <img src="../static/images/profit.png" alt="" />
    </div>

    <div class="a-card">
      <p>24/7</p>
      <p>SUPPORT</p>
      <img src="../static/images/support.png" alt="" />
    </div>
  </div>
</div>

<div class="home-background-2">
  <div style="text-align: center" class="with-intel container">
    <h2 style="color: orange; margin-top: 40px">With Intel Invest</h2>
    <div class="with-intel-grid">
      <div>
        <h4>Get income from a real business!</h4>
        <p>
          Our team is real and ready to offer safe and mutually beneficial cooperation to anyone who has set himself the
          goal of making money.
        </p>
      </div>

      <div>
        <h4>Diversify financial risks with us!</h4>
        <p>
          Due to the step-by-step strategy of work in the market, as well as in-depth analysis of financial trends, our
          company occupies a leading position
        </p>
      </div>

      <div>
        <h4>Secure transactions</h4>
        <p>
          The team pays maximum attention to the safety of investor funds and carefully checks all withdrawal
          transactions, processing them in manual mode.
        </p>
      </div>
    </div>
    <a class="invest-now-btn" href="#">Invest Now</a>
  </div>
</div>

<div class="packages">
  <h2 style="color: orange; text-align: center">Investment Plans</h2>

  <div class="packages-grid">
    <div id="package-left" class="a-package-grid">
      <h5>Starter Pack</h5>
      <p>Deposit: $50</p>
      <p>40% ROI</p>
      <a class="package-invest-btn" href="{% url 'package-detail' package_id=1 %}">Invest</a>
    </div>

    <div id="package-center" class="a-package-grid">
      <h5>Early Bird Pack</h5>
      <p>Deposit: $100</p>
      <p>40% ROI</p>
      <a class="package-invest-btn" href="{% url 'package-detail' package_id=2 %}">Invest</a>
    </div>

    <div id="package-right" class="a-package-grid">
      <h5>Comrade Pack</h5>
      <p>Deposit: $200</p>
      <p>40% ROI</p>
      <a class="package-invest-btn" href="{% url 'package-detail' package_id=3 %}">Invest</a>
    </div>

    <div id="package-left" class="a-package-grid">
      <h5>Professional Pack</h5>
      <p>Deposit: $500</p>
      <p>40% ROI</p>
      <a class="package-invest-btn" href="{% url 'package-detail' package_id=4 %}">Invest</a>
    </div>

    <div id="package-center" class="a-package-grid">
      <h5>Sterling Pack</h5>
      <p>Deposit: $1000</p>
      <p>40% ROI</p>
      <a class="package-invest-btn" href="{% url 'package-detail' package_id=5 %}">Invest</a>
    </div>

    <div id="package-right" class="a-package-grid">
      <h5>Elite Pack</h5>
      <p>Deposit: $2000</p>
      <p>40% ROI</p>
      <a class="package-invest-btn" href="{% url 'package-detail' package_id=6 %}">Invest</a>
    </div>
  </div>
</div>

<div class="networking">
  <div class="container">
    <br /><br />
    <h2 style="color: orange; text-align: center">AFFILIATE NETWORKING</h2>
    <h4>5% Referral Commission</h4>
    <p>
      Your reward will be 5% of each deposit created by your referrals. In order to earn in the affiliate program you do
      not even need to have your own deposit, start earning from scratch!
    </p>

    <ul>
      <li>
        <h4>Accessibility to everyone</h4>
        <p>Any registered user can earn in the affiliate program.</p>
      </li>
      <li>
        <h4>Fast Payouts</h4>
        <p>Your withdraw requests process every 12 business hours.</p>
      </li>
    </ul>
  </div>

  <div class="statistics-grid">
    <div class="a-statistic-grid">
      <p>200</p>
      <p>RUNNING DAYS</p>
    </div>

    <div class="a-statistic-grid">
      <p>90</p>
      <p>ONLINE VISITORS</p>
    </div>

    <div class="a-statistic-grid">
      <p>NOV 10, 2021</p>
      <p>LAST UPDATED</p>
    </div>

    <div class="a-statistic-grid">
      <p>$7, 000</p>
      <p>TOTAL DEPOSITED</p>
    </div>

    <div class="a-statistic-grid">
      <p>NOV 10, 2021</p>
      <p>TOTAL WITHDRAWAL</p>
    </div>
  </div>

  <div class="accepted-payments">
    <h2 style="text-align: center; color: orange; padding-top: 40px">Accepted Payments</h2>

    <div class="payment-images col-md-4;">
      <img class="a-payment-logo" src="../static/images/bitcoin-logo.png" alt="" />
      <img class="a-payment-logo" src="../static/images/ethereum-logo.png" alt="" />
      <img class="a-payment-logo" src="../static/images/lyte-logo.png" alt="" />
    </div>
  </div>
</div>
<footer>
  <div class="footer-grid">
    <div>
      <h1 style="text-align: center; color: orange">Intel Invest</h1>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure, quasi. Necessitatibus recusandae non perferendis
        nisi corrupti labore minima assumenda unde at facilis quaerat, distinctio adipisci incidunt nam. Inventore,
        labore alias.
      </p>
    </div>

    <div>
      <h2 style="color: orange">Docs</h2>
      <ul>
        <li><a href="#">FAQ</a></li>
        <li><a href="#">About Us</a></li>
        <li><a href="#">Rules</a></li>
        <li><a href="#">Support</a></li>
      </ul>
    </div>

    <div>
      <h2 style="color: orange">Contact Us</h2>
      <li><span style="font-size: 20px; padding-right: 10px" class="material-icons"> call </span>+1 657 2454 4374</li>
      <li>
        <span style="font-size: 20px; padding-right: 10px" class="material-icons"> email </span
        >intelinvestcontact@gmail.com
      </li>
      <li>
        <span style="font-size: 20px; padding-right: 10px" class="material-icons"> place </span>333, Fremont Street,
        Suite #100, San Francisco, CA 94105, USA
      </li>
    </div>
  </div>

  <div style="text-align: center; margin-bottom: 0 !important; margin-top: 4 0px">
    IntelInvest &copy; 2021 | All rights reserved.
  </div>
</footer>

{% endblock %}
