{% extends 'base.html' %} {% block content %}
<div style="height: 100vh; margin-top: 50px" class="container">
  <h2 style="color: orange; text-align: center">Payment Form</h2>
  <div style="text-align: right;">
    <h5 style="margin-top: 25px; color: orange;">Intel Invest Wallets</h5>
    <ul>
      <li>BITCOIN: 239349ghid9yufr9gh9ghhgtryh</li>
      <li>ETHEREUM: 6ytrytrou-9uer0ojkfkgpjkpghh</li>
      <li>LITECOIN: yhtyhtr-0utj0jgh=oj=jgophkohj</li>
      <li>USDT: iy089ydgihd9dfoh90dguoihidghihdg</li>
      <li>BUSD: iyhiy9yu9gdfiy9yfohofjoju9-u9fohk</li>
      <li>BNB: uotg8ufvihvyojhoujbojojjkkgut7t</li>
    </ul>
  </div>
  <form action="" method="post">
    {% csrf_token %}
    <span style="color: orange;">Share a screenshot of the trasanction payment</span>
  {{ form.as_p}}
  <button class="btn btn-secondary btn-sm" style="float: right; background-color: orange; border: 0" type="submit">
      SEND
    </button>
  </form>
</div>
{% include 'footer.html' %} {% endblock %}
