{% extends 'base.html' %} {% block content %}

<h2 style="color: orange; text-align: center; margin-top: 50px">RULES & AGREEMENTS</h2>
<div class="container">
  <p>
    1. binaryaccounting.ltd is officially registered in April 2019 in the United Kingdom by Companies House registrant.
    Company's office is located at the following address: 3 More London Place, London SE1 2RE, United Kingdom. The
    following rules are of interaction between the administration of Profit Guarantee Ltd and participants (investors)
    of the investment project. These rules are binding on both parties.
  </p>

  <p>
    2. Anyone can register an account and become an investor of the project, provided that he reached 18 years old.
    Profit Guarantee Ltd cooperates with participants from all over the world without any additional restrictions.
  </p>

  <p>3. To participate in the project, each investor must have his own personal account registered using @gmail.com</p>

  <p>
    4. Despite the fact that binaryaccounting.ltd is sufficiently loyal to the user’s request to register multiple
    accounts, we strongly recommend not to use partnership links for that.
  </p>

  <p>5. Participant has the right to have any number of deposits using one account.</p>

  <p>6. Participant can independently determine the amount of the deposit based on a minimum requirement of $25.</p>

  <p>
    7. Deposit and withdrawal of profits can be through Perfect Money, Payeer and cryptocurrency as the only available
    payment methods.
  </p>

  <p>
    8. Each investor has a right to get rate of profit according to current investment strategy. Deposit is
    non-refundable.
  </p>

  <p>
    9. Participation in the affiliate program is available for each registered client regardless of whether he has an
    active deposit.
  </p>

  <p>
    10. binaryaccounting.ltd respects the privacy of each participant and uses his personal information for internal
    needs only. The company never sells such information and does not share with third parties. In exceptional cases,
    the company shares personal data according to the court (in the presence of a court order).
  </p>

  <p>11. binaryaccounting.ltd never requires or organizes any procedures for the identification of users.</p>

  <p>
    12. binaryaccounting.ltd undertakes to accept deposits, accrue profits and make payments in accordance with the
    current investment proposal.
  </p>

  <p>
    13. binaryaccounting.ltd reserves the right to change the terms of cooperation, add new or deactivate existing
    investment plans without affecting the interests of active investors.
  </p>

  <p>
    14. binaryaccounting.ltd has the right to terminate accounts if it has explicit or indirect evidence of fraud on the
    part of the participant.
  </p>

  <p>
    15. binaryaccounting.ltd has the right to refuse service to any participant with a mandatory reimbursement of his
    deposit.
  </p>

  <p>
    16. Registration of a new participant implies that he has carefully read these rules and agrees to comply with them
  </p>

  <p>
    17. binaryaccounting.ltd only has this investment project. The only channel of communication with clients of the
    company is https://binaryaccounting.ltd.
  </p>

  <div style="margin: 50px 0;"> 
    <p>Company name: binaryaccounting.ltd</p>

    <p>Company Number: 11947018</p>

    <p>Company page: https://beta.companieshouse.gov.uk/company/11947018</p>

    <p>Registered office: 3 More London Place, London SE1 2RE, United Kingdom</p>

    <p>Phone number: +442080896908</p>

    <p>Contact email: admin@binaryaccounting.ltd</p>
  </div>
</div>
{% include 'footer.html' %} {% endblock%}
