* {
  margin: 0;
  padding: 0;
  font-family: "Eczar", sans-serif;
}

nav {
  height: 57px;
  width: 100%;
  border-bottom: 3px solid #333;
  z-index: 10;
  background-color: orange;
}

nav:after {
  content: "";
  clear: both;
  display: table;
}

.checkbtn {
  font-size: 25px;
  float: right;
  line-height: 80px;
  margin-right: 40px;
  display: none;
  cursor: pointer;
}

#check {
  display: none;
}

#bars {
  line-height: 80px;
  margin-right: 10px;
  font-size: 22px;
  cursor: pointer;
  color: white;
}

#cross {
  display: none;
  line-height: 80px;
  margin-right: 10px;
  font-size: 22px;
  cursor: pointer;
  color: white;
}

#check:checked + label i#bars {
  display: none;
}

#check:checked + label i#cross {
  display: block;
}

nav ul {
  float: right;
  padding-right: 30px;
}

nav ul li {
  display: inline-block;
  line-height: 80px;
  margin: 0 10px;
}

li {
  list-style: none;
}

li a {
  text-decoration: none;
  color: white;
  font-size: 18px;
}

li a:hover {
  color: purple;
  font-size: 18.5px;
  transition: ease-out 0.3s;
}

li a:active {
  font-size: 18px;
}

.messages {
  color: red;
  font-size: 20px;
  text-align: center;
  margin: 0;
  padding: 0;
}

.login-container {
  border-radius: 20px;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
  height: 65vh;
  padding: 19px;
}

.register-container {
  border-radius: 20px;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
  height: 95vh;
  padding: 19px;
  margin-bottom: 50px;
}

.intro {
  position: relative;
  animation: intro;
  animation-duration: 2s;
  animation-fill-mode: forwards;
  margin: 0 20px;
}

.moving-bar {
  border-top: 4px solid orange;
  width: 100px;
  position: relative;
  animation-name: moving-bar;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
}

.home-background {
  position: relative;
  animation: home-background;
  animation-duration: 3s;
  animation-fill-mode: forwards;
  background-repeat: no-repeat;
  background-image: url("../images/home-background-img.JPG");
  background-size: cover;
  width: 100%;
  height: 70vh;
}

.login-register-background {
  position: relative;
  animation: login-register-background;
  animation-duration: 3s;
  animation-fill-mode: forwards;
  background-repeat: no-repeat;
  background-image: url("../images/login-background-img.JPG");
  background-size: cover;
  width: 100%;
  height: 100vh;
}

.about {
  margin-top: 80px;
  position: relative;
  animation: about;
  animation-duration: 3s;
  animation-fill-mode: forwards;
  font-size: 19px;
  margin-left: 20px;
  margin-right: 20px;
}

.features {
  position: relative;
  animation: features;
  animation-duration: 3s;
  animation-fill-mode: forwards;
  height: 70vh;
  margin-top: 30px;
}

.cards {
  position: relative;
  animation: features;
  animation-duration: 3s;
  animation-fill-mode: forwards;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 40px;
  margin: 40px 20px;
}

.a-card {
  background-color: orange;
  color: white;
  border-radius: 20px;
  height: 180px;
  padding: 15px;
  text-align: center;
}

.a-card:hover {
  background-color: purple;
  height: 182px;
  transition: ease-in-out 0.6s;
  cursor: default;
}

.with-intel {
  margin: 0 20px;
  position: relative;
  animation: with-intel;
  animation-duration: 2s;
  animation-fill-mode: both;
  padding-top: 1%;
}

.with-intel-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  color: white;
  margin: 30px 0;
  grid-column-gap: 40px;
  margin-top: 30px;
}

.home-background-2 {
  position: relative;
  animation: home-background-2;
  animation-duration: 3s;
  animation-fill-mode: forwards;
  background-repeat: no-repeat;
  background-image: url("../images/home-background-img-2.JPG");
  background-size: cover;
  width: 100%;
  height: 80vh;
}

.invest-now-btn {
  width: 300px;
  text-decoration: none;
  color: white;
  border-radius: 10px;
  margin: 0 auto;
  font-size: 25px;
  background-color: orange;
  display: block;
}

.invest-now-btn:hover {
  color: white;
  background-color: purple;
  transition: ease-out 1s;
}

.packages {
  margin-top: 50px;
}

.packages-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 40px;
  grid-row-gap: 20px;
  margin: 40px 20px;
  text-align: center;
}

.a-package-grid {
  padding: 7px;
  border-radius: 8px;
  height: 170px;
  color: white;
  background-color: orange;
}

.a-package-grid:hover {
  border-radius: 10px;
  cursor: default;
  background-color: purple;
  transition: ease-out 1s;
}

#package-right {
  position: relative;
  animation: package-right;
  animation-duration: 3s;
  animation-fill-mode: forwards;
}

#package-center {
  position: relative;
  animation: package-center;
  animation-duration: 3s;
  animation-fill-mode: forwards;
}

#package-left {
  position: relative;
  animation: package-left;
  animation-duration: 3s;
  animation-fill-mode: forwards;
}

.networking {
  position: relative;
  animation: networking;
  animation-duration: 3s;
  animation-fill-mode: forwards;
  color: white;
  background-image: url("../images/globe.gif");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 150vh;
}

.package-invest-btn {
  color: white;
  font-family: "Berkshire Swash", cursive;
  text-decoration: none;
  border-bottom: 3px solid purple;
  font-size: 18px;
}

.package-invest-btn:hover {
  color: orange;
  font-size: 19px;
  transition: ease-out 1s;
}

.statistics-grid {
  position: relative;
  animation: statistics;
  animation-duration: 3s;
  animation-fill-mode: forwards;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 13px;
  grid-row-gap: 20px;
  margin: 50px 20%;
}

.a-statistic-grid {
  background-color: orange;
  color: white;
  border-radius: 20px;
  height: 150px;
  padding: 15px;
  text-align: center;
  width: 170px;
}

.a-statistic-grid:hover {
  background-color: purple;
  color: white;
  border-radius: 20px;
  height: 153px;
  padding: 15px;
  width: 173px;
  transition: ease-out 0.2s;
}

.payment-images {
  margin: 30px auto;
  text-align: center;
}

.a-payment-logo {
  margin: 0 30px;
}

footer {
  background-repeat: no-repeat;
  background-image: url("../images/home-background-img.JPG");
  background-size: cover;
  color: white;
  padding-top: 20px;
  padding-left: 30px;
  padding-right: 30px;
}

.footer-grid {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  grid-column-gap: 30px;
}
