
@keyframes intro{
    0%{
        top: -500px;
    }

    100%{
        top: 0;
    }
}

@keyframes moving-bar{
    0%{
        left: 0;
        top: 0;
    }

    50%{
        left: 100px;
        top: 0;
        border-top: 4px solid purple;
    }

    100%{
        left: 200px;
        top: 0;
        border-top: 4px solid orange;
    }
}

@keyframes about{
    0%{
        left: -1000px;
    }

    100%{
        left: 0;
    }
}

@keyframes features{
    0%{
        opacity: 0;  ;
    }

    100%{
        opacity: 100%;
    }
}

@keyframes cards{
    0%{
        opacity: 0;  ;
    }

    100%{
        opacity: 100%;
    }
}


@keyframes with-intel{
    0%{
        opacity: 0; 
        top: 30px;
    }

    100%{
        opacity: 100%;
        top: 0;
    }
}

@keyframes package-right{
    0%{
        opacity: 0; 
        right: -100px;
    }

    100%{
        opacity: 100%;
        right: 0;
    }
}

@keyframes package-center{
    0%{
        opacity: 0; 
        top: -20px;
    }

    100%{
        opacity: 100%;
        top: 0;
    }
}

@keyframes package-left{
    0%{
        opacity: 0; 
        left: -100px;
    }

    100%{
        opacity: 100%;
        left: 0;
    }
}

